* {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: "iran-s";
    color: #fff;
}
#sidebar{
    width: 30%;
    background-color: #333;
    color: #fff;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 5vw;
}
header .one{
    background-color: darkmagenta;
    display: flex;
    align-items: center;
    direction: ltr;
}
header .one button{
    background-color: darkmagenta;
    border: none;
    font-size: 8vw;
    margin-left: 1vw;
}

header .one button .fa-times{
    display: none;
}
header .one button .fa-align-left{
    
}

header .one button i:hover{
     color: yellow;
}
header .one input{
    border: 1px solid #fff;
    border-radius: 1vw;
    padding: 1.5vw 0;
    display: none;
}
header .one p{
    font-size: 4vw;
    color: white;
    margin-left: 1vw;
    font-family: "FuzzyBubblesROB";
}
@font-face {
        font-family: "iran-s";
    src: url("fonts/iran-s.otf") format("otf"),
    url("fonts/iran-s.woff") format("woff"),
    url("fonts/iran-s.ttf") format("ttf");
}
@font-face {
    font-family: "FuzzyBubblesROB";
    src: url("fonts/FuzzyBubblesROB.otf") format("otf"),
    url("fonts/FuzzyBubblesROB.woff") format("woff"),
    url("fonts/FuzzyBubblesROB.ttf") format("ttf"); 
}
header .two {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D291BC;
}
header .two h2{
   color: #fff;
   font-size: 5vw;
}
header .two img{
    width: 25vw;
}
.contant{
    display: flex;
    flex-wrap: wrap;
}
.about{
    width: 94%;
    margin: 0 1vw 0 0;
    order: 2;
}
.about h3{
    color: forestgreen;
    margin-right: 2vw;
}
.about p{
    color: #000;
    margin: auto;
}
.victor-about{
    order: 3;
    width: 70%;
    margin: 0;
}
.skill{
    margin: 1%;
    order: 4;
    width: 100%;
}
.skill article{
    margin: 0 1.5vw 3vw 0;
}
.skill article .header{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
#color-black{
    color: #333;
}
.skill article .progress{
      width: 85%;
      height: .8vw;
      background-color: #C0C0C0;
      border-radius: .5vw;
}
.skill article .progress div{
    opacity: 1;
    height: .8vw;
    background-color: tomato;
}
.skill h3{
    color: forestgreen;
    margin-right: 2vw;
}
.skill .one{
    width: 85%;
    margin-right: 1.5vw;
    display: flex;
    justify-content: space-around;
    margin: 2vw 0;
}
.skill #box{
    color: #333;
    box-shadow: #BBB 0 0 2px, #888 0 15px 15px -12px;
}







@media screen and (min-width: 700px) {
    header .one button{
        font-size: 4vw;
    }
    header .two img{
        width: 15vw;
    }
    header .two h2{
        font-size: 3vw;
    }
    .victor-about{
        order: 2;
        width: 45%;
    }
    .about{
        order: 1;
        width: 45%;
    }
    .skill{
        order: 3;
    }
}